.iklan {
  width: 100%;
}

.kiri {
  margin-right: 5%;
}

.atas {
  margin-bottom: 45px;
}

.tulisan {
  -ms-text-size-adjust: 20px;
}

.kecil {
  padding: 5px 5px 5px 5px;
  background-color: rgb(196, 196, 196);
}
